<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="background-color:#82c419;">
<div>
<img src="{% static 'images/about.jpg' %}" style="height:400px;width:100%;"/>
</div>
<div class="mb-5 p-5" >
    <h3 style="text-align:center;color:black;font-size:30px;font-weight:800px;">Why Vaccinate</h3>
    <p>
On-time vaccination throughout childhood is essential because it helps provide immunity before children are exposed to potentially life-threatening diseases. Vaccines are tested to ensure that they are safe and effective for children to receive at the recommended ages.<br>Vaccines are one of the most effective ways to protect children from serious illness and death, especially those with developing immune systems like infants. Vaccines work by stimulating the body's natural defenses to build protection against disease. When someone receives a vaccine, their body practices fighting the disease by making antibodies that recognize specific parts of the germ. These antibodies last a long time, so if the person is later exposed to the disease, their body already knows how to fight it. This is called immunity.

</p>
    <div class="container">
			<div class="row">
				<div class="col text-center">

					<div class="section_title"><h2>Well-Child Visits</h2></div>
				</div>
			</div>
    </div>
    <div class="row about_row">
				<div class="col-lg-6">
					<div class="about_content">

						<div class="about_text">
							<p>A well-child visit is a chance for a health care provider to evaluate a child's physical, mental, and social health. Visits can help identify and address concerns, track growth and development, and build a trusting relationship between the child, parent, and pediatrician. The American Academy of Pediatrics recommends the following schedule of well-child visits:
Birth to 2 years: Visits at 1–3 days after discharge, 2 weeks, 4 weeks, 2 months, 4 months, 6 months, 9 months, 12 months, 14 months, 18 months, and 24 months Childhood and adolescence: Yearly visits from 3–21 years of age<br><br><b>During a well-child visit, a health care provider might:</b>
<ul><li>Check growth and development :The provider will check the child's height, weight, and head size, and compare their growth to normal developmental milestones. They might also ask about the child's sleep, bathroom habits, and social behaviors.</li>
<li>Check for health concerns: The provider might check the child's ears for signs of infection, and ask about their history of illnesses. They might also check the child's blood pressure, vision, and hearing.</li>
							<li>Discuss concerns :The provider might ask about the child's family history, and address concerns about development, behavior, eating, and getting along with others. They might also offer advice, such as how to help the child develop optimal physical, mental, and social health.</li>
<li>Update vaccines :The provider might update the child's vaccines, or order tests.</li></ul>

.</p>
						</div>
                    </div>
                </div>
		<div class="col-lg-6 mb-5">
					<div class="about_image"><img src="media/family-laptop.avif" alt="" style="height:500px;width:500px;"></div>
				</div>
    </div>
</div>
{% endblock %}